Importing the Libraries

In [ ]:
import numpy as np;

Creating a List

In [ ]:
arr = np.arange(1,11);
print(arr);
lst = list(range(1,11))
print(lst)

[ 1  2  3  4  5  6  7  8  9 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Finding Sum , Maximum and Minimum

In [ ]:
print(np.sum(arr));
print(np.min(arr));
print(np.max(arr));

print(sum(lst));
print(min(lst));
print(max(lst));

55
1
10
55
1
10

Adding Element to List

In [ ]:
lst.append(99);
print(lst);

[99, 99, 99, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 99]

Arranging Elements of List is Assending and Decending Order

In [ ]:
lst.sort();
print(lst);
lst.sort(reverse=True);
print(lst);

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 99, 99, 99]
[99, 99, 99, 99, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Creating a Tuple

In [ ]:
fruits = ("apple", "banana", "cherry", "date", "elderberry")
print(fruits)

('apple', 'banana', 'cherry', 'date', 'elderberry')

Trying to modify a tuple and identify error

In [ ]:

fruits[0]="abc";

TypeError: 'tuple' object does not support item assignment

Converting Tuple into List and Modify it.

In [ ]:
fruits = list(fruits);
fruits[0]="abc";
print(fruits);

['abc', 'banana', 'cherry', 'date', 'elderberry']

Create Two Sets with some Common and Unique Elements

In [ ]:
A = {1,2,3,4,5,};
B = {4,5,8,9};
print(A&B);
print(A^B);

{4, 5}
{1, 2, 3, 8, 9}

Creating Dictionaries

In [ ]:
student = {
    "name" :"Murtaza",
    "Sem": 6,
    "age":23
}
print(student);

{'name': 'Murtaza', 'Sem': 6, 'age': 23}

Updating A Key

In [ ]:
student["age"] = 22;
print(student);

{'name': 'Murtaza', 'Sem': 6, 'age': 22}